html, body {
  background: url("wavebackground.jpg");
  height: 100%;
  width: 100%;
  margin: 0 0;
}

.overlay {
  position: fixed;
  background-color: rgba(255,255,255,0.5);
  height: 100vw;
  width: 100vw;
  z-index: 100;
  top: -200px;
}

.beach {
  position: fixed;
  top: 475px;
  width: 100%;
  height: 300px;
  background-color: #EBC288;
  z-index: 6;
}

.seafoam {
  position: fixed;
  top: 460px;
  width: 100%;
  height: 30px;
  background-color: #EBEAD1;
  z-index: 7;
}
.wave3 {
  position: absolute;
  top: 400px;
  height: 112px;
  width: 100vw;
  background: transparent url("Waves-11.png") round 0 0;
  z-index: 5;
  -webkit-animation: wave3Animation 5.77778s 0.1s infinite ease-in-out;
  -moz-animation: wave3Animation 5.77778s 0.1s infinite ease-in-out;
  animation: wave3Animation 5.77778s 0.1s infinite ease-in-out;
}
.wave2 {
  position: absolute;
  background: transparent url("Waves-10.png") round 0 0;
  top: 350px;
  height: 112px;
  width: 100vw;
  z-index: 4;
  -webkit-animation: wave2Animation 4s infinite reverse 0.4s ease-in-out;
  -moz-animation: wave2Animation 4s infinite reverse 0.4s ease-in-out;
  animation: wave2Animation 4s infinite reverse 0.4s ease-in-out;
}
.wave1 {
  display: block;
  position: relative;
  background: transparent url("Waves-12.png")round 0 0;
  height: 112px;
  width: 100vw;
  top: 300px;
  z-index: 3;
  -webkit-animation: wave1Animation 7s infinite 0.7s ease-in-out;
  -moz-animation: wave1Animation 7s infinite 0.7s ease-in-out;
  animation: wave1Animation 7s infinite 0.7s ease-in-out;
}

@-webkit-keyframes wave3Animation {
  0% {
    top: 400px;
    left: 0px;
  }
  25% {
    top: 415px;
    left: 15px;
  }
  75% {
    top: 385px;
    left: -15px;
  }
  100% {
    top: 400px;
    left: 0px;
  }
}

@-webkit-keyframes wave2Animation {
  0% {
    top: 350px;
    left: 0px;
  }
  25% {
    top: 365px;
    left: 15px;
  }
  75% {
    top: 335px;
    left: -15px;
  }
  100% {
    top: 350px;
    left: 0px;
  }
}
@-webkit-keyframes wave1Animation {
  0% {
    top: 300px;
    left: 0px;
  }
  25% {
    top: 315px;
    left: 15px;
  }
  75% {
    top: 285px;
    left: -15px;
  }
  100% {
    top: 300px;
    left: 0px;
  }
}
